<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.midas.comics">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="@string/app_name"
        android:icon="@drawable/ic_book"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:name="com.midas.comics.MainApplication">
        <activity android:name="com.midas.comics.activity.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.midas.comics.activity.ScanActivity"
            android:label="@string/scan">
        </activity>
        <activity android:name="com.midas.comics.activity.SettingsActivity"
            android:label="@string/menu_settings">
        </activity>
        <activity android:name="com.midas.comics.activity.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.midas.comics.activity.AboutActivity"
            android:exported="false" />

        <activity android:name="com.midas.comics.activity.ReaderActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.midas.comics.activity.MainActivity"
            android:theme="@style/ReaderTheme">

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.midas.comics.activity.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="application/rar" />
                <data android:mimeType="application/x-cbr" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-tar" />
                <data android:mimeType="application/x-7z-compressed" />
            </intent-filter>
        </activity>
    </application>
</manifest>
